<!DOCTYPE html>
<html>
<head>
	<title>layout</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<style>
		.h{
			background-color: #7891A9;
		}
	</style>
</head>
<body>
<nav class="navbar navbar-expand-md bg-primary navbar-light">
	<div class="navbar-brand">ICOs seller</div>
	<div class="container justify-content-end">
	<ul class="navbar-nav ">
		<li class="nav-item ">
			<button type="button">ICOS</button></li>
			<li class="nav-item">
			<a href="#" class="nav-link">Benchy</a></li>
			<li class="nav-item">
			<a href="#" class="nav-link">People</a></li>
			<li class="nav-item">
			<a href="#" class="nav-link">PublishIco</a></li>
			<li class="nav-item">
			<a href="#" class="nav-link">Register</a></li>
			<li class="nav-item">
			<a href="#" class="nav-link">Login</a>
		</li>
	</ul>
</nav>

	<h1  class="bg-success text-center  "  style="height:100px " >Publish Your Icos</h1>
		<div class="container">
			<div class="row mt-2">
				<div class="col-md-4"><br>
					
<h4 style="color:#7851A9">Publish Your Icos</h4>
					<p>Submit the form to get your pre-ico or ico published on the icon bench for free</p>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Project Name"><br>
						<input type="text" class="form-control" placeholder="Country of operation"><br>
<input type="text" class="form-control" placeholder="Link to Whitepaper"><br>
						<input type="text" class="form-control" placeholder="Link to bounty"><br>
						<input type="text" class="form-control" placeholder="Token name/Ticker"><br>
						<input type="text" class="form-control" placeholder="Platform and Token"><br>
						<input type="text" class="form-control" placeholder="Whitelist/KYC"><br>
					</div>
				</div>
			

			<div class="col-md-6 ml-5">
				<br>
				<br>
			
				<div class="row mt-2 ">

				<div class="col-md-4"><div class="form-group">

			<input type="text" class="form-control" placeholder="year" ></div></div>
			<br>
		<div class="col-md-4"><div class="form-group">
			<input type="text" class="form-control" placeholder="Date"></div></div>
			<br>
				<div class="col-md-4"><div class="form-group">
			<input type="text" class="form-control" placeholder="Month"></div></div>
			</div>
			<div class="form-group mt-2 ">
				<input type="text" class="form-control " placeholder="Website URL"></div>
				<h4 style="color:#7851A9">Category </h4>
				
					<div class="card mt-3"><div class="card-body ">
						<div class="row mt-2  ">
						<div class="col-md-4 ">
							<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Artificial Intelligence</div>
								<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Casino&Gambling</div>
				
				<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Education</div>
				
				<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Health</div>
				<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Legal</div>
				</div>
				<div class="col-md-4 ">
							<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Art</div>
								<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Business Services</div>
				
				<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Cryptocurrency</div>
				
				<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Entertainment</div>
				<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Investment</div></div>
								<div class="col-md-4 ">
							<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Banking</div>
								<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Charity</div>
				
				<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Electronics</div>
				
				<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Infrastructure</div>
				<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Manufacturing</div></div></div></div></div>
				
				</div></div></div></div>
				<div class="container">
				<div class="row mt-2">
					<div class="col-md-12">
				<div class="form-check mt-3">
								<input type="checkbox" class="form-check-input">Iam the Official representative of this ICO and i give full permission to use all the needed data from all of our resources.</div><br>
<h6>(Website,Social Networks,White Paper,etc.)</h6>

								<div class="form-group mt-2 ">

				<button type="button" >Submited</button></div></div></div></div>
				
					
										<div class="row mt-5">
						<div class="col-md-3">
							<h5 class= "ml-5 " >ICOS Seller</h5></div>
							<div class="col-md-3">
								<h6>Contact With Us</h6>
								<h6> On our site everyone can easily find and track</h6>
								<h6>Find your next</h6>

				

				














</body>
</html>